python-dotenv==1.0.0
textual==0.85.2
ascii-magic
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-core
openai
strands-agents
strands-agents-tools
mcp
Pillow
rich>=13.7.0
rich-pixels
numpy
pygame